ipykernel
pandas
pyarrow
numpy
bs4
python-dotenv
langchain 
langchain-openai
langchain-text-splitters
langchain-community
langgraph
langgraph_prebuilt
langgraph_checkpoint
fastapi
pydantic
uvicorn
faiss-cpu
pytest
selenium
webdriver_manager
prefect
sentence_transformers
trafilatura